/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* 헤더 섹션 */ 
header {
    background-color: burlywood;
    color: black;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: beige;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 본인정보 섹션 */ 
h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

/* 메인 섹션 */ 
.fortune-category {
    margin-bottom: 15px;
}

.fortune-category h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.fortune-category p {
    font-size: 1em;
}

/* 요약 섹션 스타일 */
.summary {
    margin: 20px 0; /* 간단한 요약 섹션과 다른 요소들 간의 여백 */
    padding: 15px;
    background-color: b; /* 배경색 추가 */
    border-radius: 8px; /* 테두리 둥글게 */
}

/* 요약 섹션 제목 */
.summary h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    text-align: center; /* 제목 가운데 정렬 */
}

/* 요약 섹션 본문 */
.summary p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: center; /* 내용 가운데 정렬 */
}

/* 푸터 스타일 */
footer {
    text-align: center;
    padding: 15px;
    background-color: purple;
    color: black;
    font-weight: bold; /* 글씨 굵게 */
    margin-top: 30px; /* 요약 섹션과 푸터 사이에 여백 */
    border-radius: 8px; /* 둥근 테두리 */
    font-size: 1.2rem; /* 글씨 크기 조정 */
}

/* 공유하기 텍스트 스타일 */
footer p {
    margin: 0; /* 기본 마진 제거 */
    font-weight: bold; /* 텍스트 굵게 */
    font-size: 1.6rem;
    text-align: center; /* 가운데 정렬 */
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.8em;
    }

    section {
        padding: 15px;
    }

    footer {
        font-size: 0.8em;
    }
}


