/* 기본 스타일 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
}

/* 컨테이너 */
.container {
    max-width: 1200px;
    margin-top: 0;
    padding: 0;
}

/* 박스 스타일 */
.box {
    background-color: rgb(238, 228, 228);
    text-align: center;
}

/* 바탕색이 B3B0B0인 박스 */
.b3b0b0 {
    background-color: #b3b0b0;
    color: black;
    margin: 0; /* 위, 아래, 좌, 우 여백을 없앰 */
    padding: 0; /* 안쪽 여백을 없앰 */
}


/* 텍스트 스타일 */
h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    font-size: 18px;
    display: block;
}

input[type="text"], select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* 버튼 스타일 */
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    background-color: #06b13f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #06b13f;
}

/* 성별 버튼 레이아웃 */
.gender-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.gender-button {
    font-weight: bold;
    color: black;
}

/* 날짜 선택 버튼 레이아웃 */
.date-button {
    font-weight: bold;
    color: black;
    background-color: #06b13f; /* 기본 배경색 */
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 색상 변경에 부드러운 효과 추가 */
}


.time-button {
    font-weight: bold;
    color: black;
    background-color: #b3b0b0;
}

/* 이사방향 선택 박스 */
.direction-box {
    background-color: #b3b0b0;
    color: black;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 20px; /* 이사방향 선택 박스와 결과 버튼 간에 여백을 추가 */
}

/* 하단 이사 택일 결과 보기 박스 */
.bottom-box {
    font-size: 18px;
    background-color: #8e44ad; /* 보라색 */
    color: black;
    border: none;
    cursor: pointer;
    width: 100%; /* 100% 너비로 설정하여 좌우 여백 없음 */
    font-weight: bold;
    text-align: center;
    display: block; /* 블록 요소로 변경하여 100% 너비 적용 */
    margin-top: 20px; /* 이사방향 박스와 결과 버튼 간에 간격을 두기 위해 여백 추가 */
    padding: 10px 0; /* 상하 여백을 추가 */
}

/* 링크를 버튼처럼 스타일링 */
.bottom-box a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    font-weight: bold;
}


/* 반응형 스타일 */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h3, p {
        font-size: 20px;
    }

    input[type="text"], select {
        width: 100%;
    }

    button {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 5px;
    }

    .box {
        padding: 10px;
    }

    h3, p {
        font-size: 18px;
    }

    input[type="text"], select {
        width: 100%;
    }

    button {
        font-size: 12px;
    }
}
