/* 전체 바디 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* 컨테이너 스타일 */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

/* 헤더 스타일 */
header {
  text-align: center;
  margin-bottom: 20px;
  background-color: white; /* Beige color */
}

h1 {
  font-size: 2rem;
}

/* 일반 섹션 스타일 */
.section {
  margin: 10px; /* 모든 방향에 10px 여백 추가 */
  padding: 10px; /* 모든 방향에 10px 패딩 추가 */
}

/* 스타일링을 위한 h2 */
h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* 표 스타일 */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #facaca;
}

/* 월 입력 박스 스타일 */
.month-input {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  margin: 10px; /* 10px 여백 */
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* 직업운 박스 스타일 */
.fortune-category {
  margin-bottom: 10px; /* 직업운 박스와 다른 요소들 간의 여백 */
}

.fortune-category h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.fortune-category p {
  font-size: 1em;
}



/* 공유하기 스타일 */
footer {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  background-color: purple;
  color: black;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* 미디어 쿼리 - 모바일 화면 */
@media (max-width: 480px) {
  .section {
      margin: 5px; /* 모바일에서 여백 줄이기 */
      padding: 5px; /* 모바일에서 패딩 줄이기 */
  }

  h2 {
      font-size: 1.3rem;
  }

  input {
      font-size: 14px; /* 작은 화면에서 글씨 크기 조정 */
  }

  .fortune-category {
      margin-bottom: 20px; /* 모바일에서 직업운 박스 간격을 줄여서 여백 조정 */
  }

  .share-button {
      font-size: 16px; /* 모바일 화면에서 버튼 글씨 크기 줄이기 */
      padding: 12px; /* 버튼 패딩 조정 */
  }
}

/* 미디어 쿼리 - 태블릿과 작은 노트북 화면 */
@media (max-width: 768px) {
  .section {
      margin: 10px; /* 태블릿에서 여백 유지 */
      padding: 10px;
  }

  h2 {
      font-size: 1.4rem;
  }

  input {
      font-size: 15px; /* 태블릿에서 글씨 크기 조정 */
  }

  .fortune-category {
      margin-bottom: 25px; /* 직업운 박스와 다른 요소들 간격 조정 */
  }

  .share-button {
      font-size: 17px;
      padding: 13px; /* 버튼 크기 조정 */
  }
}

/* 미디어 쿼리 - 데스크탑 화면 */
@media (min-width: 769px) {
  .section {
      margin: 10px;
      padding: 10px;
  }

  h2 {
      font-size: 1.5rem;
  }

  input {
      font-size: 16px; /* 기본 글씨 크기 */
  }

  .fortune-category {
      margin-bottom: 30px; /* 데스크탑에서 여백을 넓게 유지 */
  }

  .share-button {
      font-size: 18px;
      padding: 15px; /* 버튼 크기 유지 */
  }
}
